// Global styling

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    // h1 {
    //     margin-top: 1em;
    // }
    a {
        text-decoration: none;
    }
    .erreur {
        color: #333;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    p {
        margin-bottom: 0px;
    }
}

//Navbar styling

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: rgb(207, 207, 163);
    
}

@media (min-width: 640px) {
    .uk-navbar {
        padding: 0 15px;
        
    }
}
@media (min-width: 960px) {
    .uk-navbar {
        padding: 0 25px;
    }
}

nav {
    margin-bottom: 20px;
    .fa-lg {
        font-size: 1.4em;
    }
}

// Cards styling
.uk-grid>* {
    padding-bottom: 10px;
}

.uk-text-truncate {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.uk-card {
    border-radius: 5px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.042),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.035),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.028),
    100px 100px 80px rgba(0, 0, 0, 0.02)
    ;
    img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.uk-card-badge {
    position: static;
    margin-right: 4px;
}
// Footer styling
footer {
    background-color: rgb(207, 207, 163);
    h4 {
        font-size: 1.2em;
        font-weight: bold;
    }
    padding: 20px 0;
    text-align: center;
    color: #999;
    font-size: 0.8em;
    .uk-link-toggle:focus .uk-link, .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover, a.uk-link-text:hover {
        text-decoration: none;
        color: #111;
    }
    .social .svg-inline--fa {
        vertical-align: -0.34em;
    }
}

// Article styling
.uk-height-large {
    height: 600px;
    margin-bottom: 20px;
}

.uk-label {
    margin-right: 4px;
    a {
        color: white;
        text-decoration: none;
    }
}

#title {
    font-size: 3rem;
    font-weight: bold;
    
}

#description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}